html, body {
    min-height: 100vh;
    display: grid;
}
  
body {
    /* declare variables */
    --bg-color: #F7B7C9;
    --bg-color--dark: #724969;
    --skin-color: #FFDEC7;
    --eye-color: #000000;
    --eyelash-color: #000000;
    --hair-color: #CCAF81;
    --hair-color--devil: #352D39;
    --blush-color: rgba(255,173,181, 0.6);
    --mouth-color: #FFB5A8;
    --dress-color: white;
    --dress-color--devil: #000000;
    --emblem-color: #F4D06F;
    --emblem-color--devil: #ffffff;
    --button-color: #444;
    --button-color--pressed: #222;

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    transition: .5s ease-in-out;
}

body.is-dark {
    background-color: var(--bg-color--dark)
}
  
.container {
    width: 40rem;
    height: 40rem;
    position: relative;
    margin: 0 0 2rem;
}

button {
    text-align: center;
    background-color: var(--button-color);
    border: 0;
    color: white;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    padding: 1rem 2rem;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

button:active {
    background-color: var(--button-color--pressed);
}

.halo,
.halo::before,
.halo::after,
.horn,
.horn::after,
.head,
.head__eyes,
.hair,
.hair::after,
.hair-top,
.fringe,
.fringe::after,
.blush,
.nose,
.mouth,
.eye,
.eye::after,
.eyelash,
.eyelash::before,
.eyelash::after,
.eyebrow,
.body,
.dress,
.emblem,
.emblem::after,
.arm,
.arm::after,
.foot,
.foot::after {
    display: block;
    position: absolute;
    transition: .5s ease-in-out;
}

.head {
    width: 20rem;
    height: 20rem;
    background-color: var(--skin-color);
    border-radius: 60% 60% 50% 50%;
    left: 50%;
    margin-left: -10rem;
    z-index: 3;
}

.halo {
    background-color: white;
    width: 20rem;
    height: 3rem;
    z-index: 2;
    border-radius: 50%;
}

.hair {
    width: 25rem;
    height: 25rem;
    background-color: var(--hair-color);
    left: 50%;
    margin-left: -12.5rem;
    margin-top: -2rem;
    border-radius: 60% 60% 50% 50%;
}

.hair::after {
    content: '';
    background-color: var(--hair-color);
    width: 25rem;
    height: 20rem;
    margin-top: 12rem;
}

.hair-top {
    width: 18rem;
    height: 9rem;
    background-color: var(--hair-color);
    z-index: 4;
    left: 50%;
    top: -0.5rem;
    margin-left: -9rem;
    border-radius: 50% 50% 0 0;
}

.horn {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 4rem solid black;
    z-index: 4;
    opacity: 0;
}

.horn::after {
    content: '';
    width: 4rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 0 0 6rem 6rem;
    left: -2rem;
    top: 4rem;
}

.horn--left {
    transform: rotate(-30deg);
    left: 8rem;
}

.horn--right {
    transform: rotate(30deg);
    right: 8rem
}

.fringe {
    width: 5rem;
    height: 5rem;
    background-color: var(--hair-color);
    transform: rotate(15deg);
    top: 4rem;
    z-index: 1;
}

.fringe::after {
    content: '';
    width: 5rem;
    height: 5rem;
    background-color: var(--hair-color);
    margin-left: 5rem;
    transform: rotate(-10deg);
    top: -0.25rem;
}

.fringe--left {
    left: 10rem;
}

.fringe--right {
    transform: rotate(-15deg) scaleX(-1);
    right: 10rem;
}

.eye {
    width: 4rem;
    height: 5rem;
    background-color: var(--eye-color);
    border-radius: 3rem;
    top: 10.5rem;
    animation: blink 3s infinite 3s;
}

.eye::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    top: 0.75rem;
    right: 0.75rem;
}

.eye::before {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 3rem;
    background-color: steelblue;
    border-radius: 2rem;
    top: 1rem;
    left: 1rem;
}

.eye--blink {
    height: 1rem;
    width: 3.5rem;
    border-radius: 0;
    top: 12rem;
    transform: scaleY(-1);
}

.eye--blink .eyelash {
    top: -0.8rem !important;
}

.eye--left {
    left: 3rem;
}

.eye--right {
    right: 3rem;
}

.eyelash {
    background-color: var(--eyelash-color);
    width: 0.4rem;
    height: 1.5rem;
    left: 1.75rem;
    top: -0.6rem;
}

.eyelash::before,
.eyelash::after {
    content: '';
    background-color: var(--eyelash-color);
    width: 0.4rem;
    height: 1.5rem;
    margin-top: 0.25rem;
}

.eyelash::before {
    transform: rotate(-35deg);
    margin-left: -0.5rem;
}

.eyelash::after {
    transform: rotate(35deg);
    margin-left: 0.5rem;
}

.eyebrow {
    width: 3em; 
    height: 0.5em;
    background-color: var(--hair-color);
    top: 9em;
}

.eyebrow--left {
    left: 3.5em;
    transform: rotate(-10deg);
}

.eyebrow--right {
    right: 3.5em;
    transform: rotate(10deg);
}

.blush {
    height: 2.5rem;
    width: 3.5rem;
    background-color: var(--blush-color);
    z-index: 2;
    border-radius: 3rem;
    top: 14rem;
}

.blush--left {
    left: 2rem;
}

.blush--right {
    right: 2rem;
}

.nose {
    width: 0.5rem;
    height: 1rem;
    background-color: var(--mouth-color);
    top: 13.5rem;
    left: 50%;
    margin-left: -0.25rem;
}

.mouth {
    background-color: var(--mouth-color);
    height: 2em;
    width: 4em;
    border-radius: 0 0 2em 2em;
    top: 16.5em;
    left: 50%;
    margin-left: -2em;
}

.dress {
    border-bottom: 16em solid var(--dress-color);
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    height: 0;
    width: 10em;
    top: 18rem;
    left: 50%;
    margin-left: -9em;
    z-index: 2;
}

.emblem {
    width: 6rem;
    height: 6rem;
    background-color: var(--emblem-color);
    border-radius: 50%;
    top: 3rem;
    left: 50%;
    margin-left: -3rem;
}

.emblem::after {
    content: '';
    width: 5rem;
    height: 5rem;
    background-color: var(--dress-color);
    border-radius: 50%;
    left: 0.5rem;
    top: -0.5rem;
}

.arm {
    width: 4rem;
    height: 8rem;
    background-color: var(--skin-color);
    top: 18rem;
}

.arm::after {
    content: '';
    width: 4rem;
    height: 2.5rem;
    border-radius: 0 0 5rem 5rem;
    background-color: var(--skin-color); 
    bottom: -2.25rem;
}

.arm--left {
    left: 13rem;
    transform: rotate(30deg);
}

.arm--right {
    right: 13rem;
    transform: rotate(-30deg);
}

.foot {
    width: 4rem;
    height: 8rem;
    background-color: var(--skin-color);
    top: 30rem;
}

.foot::after {
    content: '';
    width: 4rem;
    height: 2.5rem;
    border-radius: 0 0 5rem 5rem;
    background-color: var(--skin-color); 
    bottom: -2.5rem;

}

.foot--left {
    left: 15.5rem;
}

.foot--right {
    right: 15.5rem;
}



/* Girl: Devil */
.girl--devil .hair,
.girl--devil .hair::after,
.girl--devil .hair-top,
.girl--devil .fringe {
    background-color: var(--hair-color--devil);
}

.girl--devil .dress {
    border-bottom-color: var(--dress-color--devil);
}

.girl--devil .mouth {
    transform: scaleY(-1);
}

.girl--devil .horn {
    opacity: 1;
}

.girl--devil .eyebrow {
    background-color: var(--hair-color--devil);
}

.girl--devil .eyebrow--left {
    transform: rotate(10deg);
}

.girl--devil .eyebrow--right {
    transform: rotate(-10deg);
}

.girl--devil .emblem {
    background-color: var(--emblem-color--devil);
}

.girl--devil .emblem::after {
    background-color: var(--dress-color--devil);
} 



/* Animations */
@keyframes blink {
    0%{
		transform:scaleY(1)
	}	
	18%{
		transform:scaleY(1)
	}
	20%{
		transform:scaleY(0)
	}	
	25%{
		transform:scaleY(1)
	}	
	38%{
		transform:scaleY(1)
	}	
	40%{
		transform:scaleY(0)
	}	
	45%{
		transform:scaleY(1)
	}
	80% {
		transform:scaleY(1)
	}
}